<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>user</th>
      <th>url</th>
      <th>scraped?</th>
      <th>last_scraped</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% wishlists.each do |wishlist| %>
      <tr>
        <td><%= link_to wishlist.id, wishlist %></td>
        <td><%= wishlist.name %></td>
        <td><%= link_to wishlist.user.name, wishlist.user if wishlist.user %></td>
        <td><%= wishlist.url %></td>
        <td><%= wishlist.scraped %></td>
        <td><%= wishlist.last_scraped.ctime if wishlist.scraped %></td>
        <td><%= link_to 'Show', wishlist %></td>
        <td><%= link_to 'Destroy', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>