<p id="notice"><%= notice %></p>

<p>
  <strong>name: </strong><%= @wishlist.name %>
</p>
<p>
  <strong>user: </strong><%= link_to @wishlist.user.name, @wishlist.user if @wishlist.user %>
</p>
<p>
  <strong>url: </strong><%= @wishlist.url %>
</p>
<p>
  <strong>scraped?: </strong><%= @wishlist.scraped %>
</p>
<p>
  <strong>last_scraped: </strong><%= @wishlist.last_scraped.ctime if @wishlist.scraped %>
</p>

<%= react_component 'Wishlist', {url: scrape_wishlist_path(@wishlist)} %>

<%= link_to 'Back', wishlists_path %>
